<template>
  <v-col cols="12" v-if="isAuthorized">
    <stats-table />
    <br>
    <visitors-table />
  </v-col>
</template>

<script>
import { mapGetters } from "vuex";
import StatsTable from "../components/StatsTable";
import VisitorsTable from "../components/VisitorsTable";

export default {
  computed: mapGetters(["isAuthorized"]),

  components: {
    StatsTable,
    VisitorsTable
  }
};
</script>

<style scoped>
</style>