<template>
  <v-col cols="12" sm="8" md="4">
    <v-card class="elevation-12">
      <v-toolbar color="primary" dark flat>
        <v-toolbar-title>Login form</v-toolbar-title>
        <v-spacer />
        <v-tooltip right></v-tooltip>
      </v-toolbar>
      <v-form @submit="doAuthorize">
        <v-card-text>
          <div v-if="errors.length">
            <v-alert dense outlined type="error">
              <div v-bind:key="index" v-for="(error, index) in errors">{{ error }}</div>
            </v-alert>
          </div>

          <v-text-field
            label="Login"
            v-model="login"
            name="login"
            prepend-icon="person"
            type="text"
          />

          <v-text-field
            id="password"
            label="Password"
            v-model="password"
            name="password"
            prepend-icon="lock"
            type="password"
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn type="submit" color="primary">Login</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-col>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import api from "../api.js";

export default {
  data: () => ({
    login: "",
    password: "",
    errors: []
  }),

  computed: mapGetters(["isAuthorized"]),

  methods: {
    ...mapActions(["setSession"]),
    doAuthorize(event) {
      const self = this

      event.preventDefault();

      this.errors = [];

      if (!this.login) {
        this.errors.push("Login is required");
      }
      if (!this.password) {
        this.errors.push("Password is required");
      }

      if (this.errors.length == 0) {
        api
          .authorize({
            login: this.login,
            password: this.password
          })
          .then(function(response) {
            if (response && response.data.token) {
              self.setSession(response.data);
              self.$router.push("/");
            } else {
              self.errors.push("Wrong login or password");
            }
          }).catch(function () {
            self.errors.push("Wrong login or password");
          })
      }
    }
  }
};
</script>

<style scoped>
</style>