<template>
  <v-data-table
    :headers="headers"
    :items="items"
    :server-items-length="totalItems"
    :options.sync="options"
    class="elevation-1"
  ></v-data-table>
</template>
<script>
import api from "../api.js";
import { mapGetters } from "vuex";

export default {
  data: () => ({
    headers: [
      {
        text: "Date",
        value: "date",
        sortable: false,
      },
      {
        text: "Clicks",
        value: "clicks",
        sortable: false,
      }
    ],
    options: {
      page: 1,
      itemsPerPage: 15
    },
    totalItems: 0,
    items: []
  }),

  computed: mapGetters(["getToken"]),
  created: function() {
    this.loadStats();
  },
  methods: {
    loadStats() {
      const self = this;
      api
        .loadVisitors(this.getToken, {
          offset: (self.options.page - 1) * self.options.itemsPerPage,
          limit: self.options.itemsPerPage
        })
        .then(response => {
          self.items = response.data.data;
          self.totalItems = parseInt(response.data.total);
        });
    }
  }
};
</script>